<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSReportTimezoneRequest</key>
	<dict>
		<key>desc</key>
		<string>LSReportTimezoneRequest</string>
		<key>response</key>
		<string>LSReportTimezoneResponse</string>
		<key>request</key>
		<string>LSReportTimezoneRequest</string>
		<key>url</key>
		<string>https://iot-api.leshiguang.com/sdk/timezone</string>
	</dict>
	<key>LSAuthorizeRequest</key>
	<dict>
		<key>url</key>
		<string>%@/rbac-web/auth/app</string>
		<key>request</key>
		<string>LSAuthorizeRequest</string>
		<key>response</key>
		<string>LSAuthorizeResponse</string>
		<key>desc</key>
		<string>LSAuthorizeRequest</string>
		<key>requestParameters</key>
		<dict>
			<key>model</key>
			<dict>
				<key>name</key>
				<string>model</string>
				<key>type</key>
				<string>NSString</string>
				<key>desc</key>
				<string>model</string>
			</dict>
			<key>mac</key>
			<dict>
				<key>name</key>
				<string>mac</string>
				<key>type</key>
				<string>NSString</string>
				<key>desc</key>
				<string>mac</string>
			</dict>
			<key>artifactId</key>
			<dict>
				<key>name</key>
				<string>artifactId</string>
				<key>type</key>
				<string>NSString</string>
				<key>desc</key>
				<string>artifactId</string>
			</dict>
			<key>platform</key>
			<dict>
				<key>name</key>
				<string>platform</string>
				<key>type</key>
				<string>NSInteger</string>
				<key>desc</key>
				<string>platform</string>
			</dict>
			<key>serviceVersion</key>
			<dict>
				<key>name</key>
				<string>serviceVersion</string>
				<key>type</key>
				<string>NSString</string>
				<key>desc</key>
				<string>serviceVersion</string>
			</dict>
			<key>serviceId</key>
			<dict>
				<key>name</key>
				<string>serviceId</string>
				<key>type</key>
				<string>NSString</string>
				<key>desc</key>
				<string>serviceId</string>
			</dict>
			<key>appId</key>
			<dict>
				<key>name</key>
				<string>appId</string>
				<key>type</key>
				<string>NSString</string>
				<key>desc</key>
				<string>appId</string>
			</dict>
		</dict>
		<key>responseParameters</key>
		<dict>
			<key>msg</key>
			<string></string>
			<key>code</key>
			<integer>-1</integer>
		</dict>
		<key>needLogin</key>
		<false/>
	</dict>
    <key>LSNewAccountAuthorize</key>
    <dict>
        <key>url</key>
        <string>%@/sessions-rest/associatedBusiness/loginTenant</string>
        <key>request</key>
        <string>LSNewAccountAuthorizeRequest</string>
        <key>response</key>
        <string>LSAccountAuthorizeResponse</string>
        <key>desc</key>
        <string>LSAccountAuthorize</string>
        <key>responseParameters</key>
        <dict>
            <key>userId</key>
            <dict>
                <key>name</key>
                <string>userId</string>
                <key>type</key>
                <string>NSInteger</string>
                <key>desc</key>
                <string>userId</string>
            </dict>
            <key>accessToken</key>
            <dict>
                <key>name</key>
                <string>accessToken</string>
                <key>type</key>
                <string>NSString</string>
                <key>desc</key>
                <string>accessToken</string>
            </dict>
            <key>businessToken</key>
            <dict>
                <key>name</key>
                <string>businessToken</string>
                <key>type</key>
                <string>NSString</string>
                <key>desc</key>
                <string>businessToken</string>
            </dict>
            <key>associatedId</key>
            <dict>
                <key>name</key>
                <string>associatedId</string>
                <key>type</key>
                <string>NSString</string>
                <key>desc</key>
                <string>associatedId</string>
            </dict>
            <key>needInfo</key>
            <dict>
                <key>name</key>
                <string>needInfo</string>
                <key>type</key>
                <string>Boolean</string>
                <key>desc</key>
                <string>needInfo</string>
            </dict>
            <key>msg</key>
            <dict>
                <key>name</key>
                <string>msg</string>
                <key>type</key>
                <string>NSString</string>
                <key>desc</key>
                <string>msg</string>
            </dict>
            <key>code</key>
            <dict>
                <key>name</key>
                <string>code</string>
                <key>type</key>
                <string>NSInteger</string>
                <key>desc</key>
                <string>code</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
